:root {
  --primary: #ec682c;
  --secondary: #4b40c5;
  --white: #ffffff;
}

html,
body {
  margin: 0px;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.hero-section {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  > .header {
    position: relative;
    width: 100%;
    height: 80px;
    padding: 20px 30px 20px 30px;
    box-sizing: border-box;

    > .branding {
      width: 5%;
    }

    > .authentication {
      width: 30%;
    }

    > .navigation {
      width: 65%;
      padding: 0 20px;

      > ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        > li {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }
  }
}

.btn {
  width: 100%;
  height: 50px;
  border: none;
  color: var(--white);
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-primary {
  background: var(--primary);
}

.btn-secondary {
  background: var(--secondary);
}

.content-section {
  width: 100%;
  height: calc(100% - 80px);
  padding: 30px;
  box-sizing: border-box;

  > .content {
    > h1 {
      color: var(--secondary);
    }

    > h3 {
      color: var(--white);
    }
  }
}
